@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap");

* {
    margin: 0;
    padding: 0;
}

:root {
    --dark: #33333b;
    --black: #0f0f0f;
    --gray: #808080;
    --light: #e9edf2;
    --special: #f2784b;
    --oposite: #03a6a6;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: "Kanit", sans-serif;
    background-color: var(--dark);
    user-select: none;
    overflow: hidden;
}

.calc {
    display: flex;
    flex-direction: column;

    padding: 20px 20px;
    margin: 20% 0;
    box-sizing: border-box;
    width: 270px;
    height: 550px;
    border-radius: 25px;

    background-color: var(--dark);
    box-shadow: 2px 2px 5px var(--black);
}

@media (max-width: 370px) {
    body {
        display: block;
    }
    
    .calc {
        margin: 0;
        min-width: 270px;
        width: 100%;

        border: none;
        box-shadow: none;
    }
}

.options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--light);
}

.options > img {
    width: 17px;
}

.options > img:nth-child(1) {
    width: 14px;
}

.display {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 210px;
}

.display > .history {
    width: 100%;
    text-align: right;
    color: var(--gray);
}

.display > .current {
    width: 100%;
    text-align: right;
    font-size: 50px;
    height: 70px;
    color: var(--light);
}

.keys {
    display: flex;
    flex-direction: column;
}

.keys_group {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 7px 0;
}

.key {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Kanit", sans-serif;
    font-size: 17px;

    width: 45px;
    height: 45px;

    color: var(--gray);
    background-color: var(--dark);
    box-shadow: 2px 2px 3px var(--black);
    border-radius: 10px;
    border: none;
}

.key:hover {
    transform: scale(1.1, 1.1);
    transition: ease 0.3s;
    box-shadow: 1px 1px 10px var(--gray);
}

.key > img {
    width: 17px;
}

.special {
    color: var(--special);
}

.equal {
    border-radius: 50%;
    color: var(--light);
    background-color: var(--special);
}
